@import url(root.css);




body {
    background-color: transparent;
}

.searchbox {
    display: flex;
    justify-content: center; align-items: center;
    width: 100%; height: 100%;
}

.searchbox .search {
    display: flex;
    align-items: center;
    width: 60vw; height: 10vw;
    border: 1vw solid var(--navbar-alt); border-radius: 50px;
    background-color: var(--navbar);
}

.searchbox .search input {
    outline: none; border: none;
    background-color: transparent;
    width: 100%; height: 100%;
    text-align: center;
}

.searchbox .search input::placeholder, .searchbox .search input {
    font-weight: 700;
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 3vw;
}

.searchbox .search input:focus {
    outline: none; border: none;
}